/* -----------------COLORS------------------ */
:root {
  --white: #ffffff;
  --accent-orange: #ff6c00;
  --text-dark-grey: #555555;
  --headings-dark-grey: #303030;
  --prices-blue-grey: #9da4bd;
  --dark-subheading: rgba(157, 164, 189, 0.6);
  --accent-background: #f7f7f7;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--text-dark-grey);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
}

/* images no gap */
.no-gap {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* -----------------------BUTTONS--------------------- */

.button-white {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--white);
  border: 1px solid var(--accent-orange);
  border-radius: 25px;
  background-color: transparent;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  min-width: 160px;
}
.button-white:hover,
.button-white:focus {
  background-color: var(--accent-orange);
}

.button-black {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--headings-dark-grey);
  border: 1px solid var(--accent-orange);
  border-radius: 25px;
  background-color: transparent;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  min-width: 160px;
}
.button-black:hover,
.button-black:focus {
  color: var(--white);
  background-color: var(--accent-orange);
}
/* ------------------------HEADER------------------------ */

.header {
  background-color: #6f6f6f;
  padding-top: 52px;
}

.navigation {
  display: flex;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation .list {
  display: flex;
  gap: 30px;
  margin-right: auto;
}

.logo {
  margin-right: 130px;
}
.navigation-item {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--white);
}

.navigation-item:hover,
.navigation-item:focus {
  color: var(--accent-orange);
}

.header-phone-nr {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--white);

  margin-left: auto;
  margin-right: 42px;
}

.header-phone-nr:hover,
.header-phone-nr:focus {
  color: var(--accent-orange);
}

/* ----------------------MAIN------------------------ */
/* ----------------------HERO------------------------ */

.hero-section {
}
.hero-container {
  display: flex;
}
.hero-list {
  width: 100px;
}
.hero-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--headings-dark-grey);
}
.hero-item:hover,
.hero-item:focus {
  color: var(--accent-orange);
}

.hero-content {
  background-color: #6f6f6f;
  flex-grow: 1;
  padding: 272px 100px 208px;
}
.hero-subheader {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--dark-subheading);

  margin-top: 0;
  margin-bottom: 20px;
}

.hero-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  color: var(--white);

  margin-top: 0;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.66;
  color: var(--prices-blue-grey);

  margin: 0;
}
/* --------------------ABOUT------------------------- */

.about-section {
}
.about-wrap {
  display: flex;
  gap: 30px;
}
.about-block {
  display: block;
  max-width: 470px;
}

.about-list {
  display: flex;
  gap: 30px;
}
.about-subheading {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--text-dark-grey);

  margin-top: 0;
  margin-bottom: 20px;
}

.about-header {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: var(--headings-dark-grey);

  margin-top: 0;
  margin-bottom: 20px;
}

.about-text {
  font-size: 18px;
  line-height: 1.66;

  margin-top: 0;
  margin-bottom: 20px;
}

.about-story {
  font-size: 14px;
  line-height: 1.85;

  margin-top: 0;
  margin-bottom: 42px;
}

/* ------------------------PRICES------------------------ */

.section-prices {
  background-color: #676363;
}
.prices-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.prices-list {
  border: 2px solid #6f6f6f;
  background-color: rgba(23, 26, 36, 0.2);

  width: calc((100% - 30px) / 2);
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
}

.prices-item {
  display: flex;
  justify-content: space-between;
}

.prices-item + .prices-item {
  margin-top: 20px;
}
.prices-subheading {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--dark-subheading);

  margin-top: 0;
  margin-bottom: 20px;
}

.prices-heading {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.6;
  color: var(--white);

  margin-top: 0;
  margin-bottom: 44px;
}

.prices-list-heading {
  font-size: 18px;
  line-height: 1.66px;
  color: var(--prices-blue-grey);

  margin: 0;
}

.prices-list-price {
  font-size: 18px;
  line-height: 1.66;
  color: var(--prices-blue-grey);

  margin: 0;
}

.section-prices .button-white {
  display: block;
  margin: 0 auto;
}

/* ---------------------REASONS--------------------- */

.reasons-section {
}
.reasons-list-wrap .list {
  display: flex;
}
.reasons-list-wrap {
  width: 370px;
  margin-right: auto;
}
.reasons-list-item {
  border: 1px solid black;
  padding: 20px 24px;
  width: 170px;
}
.reasons-list-item > span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  color: var(--headings-dark-grey);
  margin-top: 0;
  margin-bottom: 6px;
}
.reasons-list-item sup {
  font-weight: 600;
  font-size: 16px;
  line-height: 1, 37;
  color: var(--accent-orange);
}
.reasons-list-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--headings-dark-grey);
  text-align: center;
  max-width: 122px;
  margin: 0;
}

.reasons-content-wrap {
  width: 500px;
  margin-left: auto;
}

.reasons-subheader {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--headings-dark-grey);
  margin-top: 0;
  margin-bottom: 20px;
}

.reasons-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: var(--headings-dark-grey);
  margin-top: 0;
  margin-bottom: 20px;
}

.reasons-text {
  font-size: 18px;
  line-height: 1.66;
  margin: 0;
}

/* -------------------OUR BARBERS---------------------- */

.section-barbers {
  background-color: var(--accent-background);
}

.barbers-subheading {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--headings-dark-grey);

  margin-top: 0;
  margin-bottom: 20px;
}

.barbers-heading {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: var(--headings-dark-grey);
  margin-top: 0;
  margin-bottom: 44px;
}

.section-barbers .list {
  display: flex;
  gap: 30px;
  width: calc(100% - 60px) / 3;
}

.barbers-list-item {
  text-align: center;
}

.barbers-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.barbers-list-heading {
  font-size: 18px;
  line-height: 1.38;
  color: var(--headings-dark-grey);

  margin-top: 0;
  margin-bottom: 8px;
}

.barbers-list-text {
  font-size: 14px;
  line-height: 1.35;
  color: var(--accent-orange);
  margin-top: 0;
  margin-bottom: 0;
}
/* ---------------------GALLERIE--------------------- */

.gallerie-subheading {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.section-gallerie .list {
  display: flex;
  gap: 30px;
}
/* ---------------------CONTACTS----------------------- */

.section-contacts {
  background-color: #565656;
}

.contacts-header {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: var(--white);
}

.contacts-item {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.66;
  color: var(--prices-blue-grey);
}

.contacts-phone-nr {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: var(--prices-blue-grey);
}
.contacts-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: var(--prices-blue-grey);
  text-decoration: underline;
}

/* -----------------FOOTER-------------------- */
.footer-section {
  padding: 56px 0;
}
.footer-wrap {
  display: flex;
}
.copyright {
  margin: 0;
}
.footer-social-media {
  display: flex;
  margin-left: auto;
  gap: 40px;
}
.footer-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--headings-dark-grey);
}
.footer-item:hover,
.footer-item:focus {
  color: var(--accent-orange);
}
